<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Assemble-midden test</title>
    <link rel="stylesheet" href="/midden.css">
  </head>
  <body>
    <p>Midden output</p>
    <p>View Cache</p>
    {{midden 'view.cache'}}


    <p>view options</p>
    {{midden "view.options"}}

    <p>helper</p>
    {{midden    "helper"  }}

    <p>context</p>
    {{midden 'context'}}


    <script src="/midden-client.js"></script>
  </body>
</html>